---

dirname: "path/to/binary/memory/traces"

# Number of traces to be used for the attack; default -1 (~ all)
n_traces: 256

# Key byte to be attacked; 0..15
attack_byte: 0

# Target of the attack:
# 	      sbox ... original AES SBox; default
# 	    rijinv ... Rijndael inverse
# 	      0x1f ... different SBox
# 	0b10011101 ... specific target (1 bit)
target: sbox

# Expected key; default 2b7e151628aed2a6abf7158809cf4f3c
exp_key: 2b7e151628aed2a6abf7158809cf4f3c
